<main class="main">
  <article class="main__post">
    <h2 class="main__post-title">Título del post</h2>
    <p class="main__post-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint aliquid
      nihil veritatis, deleniti
      neque voluptates voluptatum numquam dolorem alias nesciunt atque, nemo accusamus hic possimus porro odio
      adipisci iure?</p>
  </article>
  <article class="main__post">
    <h2 class="main__post-title">Título del post</h2>
    <p class="main__post-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint aliquid
      nihil veritatis, deleniti
      neque voluptates voluptatum numquam dolorem alias nesciunt atque, nemo accusamus hic possimus porro odio
      adipisci iure?</p>
  </article>
  <article class="main__post">
    <h2 class="main__post-title">Título del post</h2>
    <p class="main__post-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint aliquid
      nihil veritatis, deleniti
      neque voluptates voluptatum numquam dolorem alias nesciunt atque, nemo accusamus hic possimus porro odio
      adipisci iure?</p>
  </article>
</main>